<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/default_layout">
<head>
    <title>Merchant List</title>
    <link rel="stylesheet" type="text/css"
          href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" th:href="@{/css/login.css}"
          href="../../static/css/style.css"/>
    <script th:src="@{/webjars/jquery/1.11.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/app.js}"></script>
</head>
<body>
<div id="content" layout:fragment="content" class="container">
    <!--<form action="#" th:action="@{/new_bids}" th:object="${bid}" method="post">-->
        <div class="row">
            <h1>Auctions</h1>
        </div>
        <div class="row">
            <div class="col-md-12">
                <table class="table">
                    <tr>
                        <th>Name</th>
                        <th>Cantity</th>
                    </tr>
                    <tr th:each="auction,iterationStatus   : ${auctions}">
                        <!--<form action="#" th:action="@{/new_bids}" th:object="${bid}" method="post">-->
                        <td th:text="${iterationStatus.count}">1</td>
                        <td th:text="${auction.name}" th:attr="name=${auction.name}"></td>
                        <td th:text="${auction.cantity}" th:attr="cantity=${auction.cantity}"></td>
                        <!--<td>-->
                            <!--<input id="data" name="data" th:field="*{name}" type="hidden"/>-->
                            <!--<input id="cant" name="cant" th:field="*{cantity}" type="hidden"/>-->
                            <!--<button onclick="process(this)">Bid</button>-->
                        <!--</td>-->

                            <td>
                                <form action="#" th:action="@{/new_bids}" method="post">
                                    <button th:id="'table_entry_childs_button_' + ${auction.name}" type="submit">
                                        <i>details</i>
                                    </button>
                                </form>
                            </td>



                        <!--<td>-->
                        <!--<div class="row" style="margin-top: 10px;">-->
                        <!--<div class="col-md-4">-->
                        <!--<input type="text" th:field="*{name}"  th:value="${auction.name}" class="form-control input-md"/>-->
                        <!--</div>-->
                        <!--</div>-->
                        <!--</td>-->
                        <!--<td>-->
                        <!--<div class="row" style="margin-top: 10px;">-->
                        <!--<div class="col-md-4">-->
                        <!--<input type="text" th:field="*{cantity}"  th:value="${auction.cantity}" class="form-control input-md"/>-->
                        <!--</div>-->
                        <!--</div>-->
                        <!--</td>-->
                        <!--<td >-->
                        <!--<input type="text" th:text="${auction.name}" th:value="${auction.name}" th:field="*{name}" class="form-control input-md"/>-->
                        <!--</td>-->
                        <!--<td >-->
                        <!--<input type="text" th:text="${auction.cantity}" th:value="${auction.cantity}" th:field="*{cantity}" class="form-control input-md"/>-->
                        <!--</td>-->
                        <!--<td>-->
                            <!--<div class="row" style="margin-top: 10px;">-->
                                <!--<div class="col-md-4">-->
                                    <!--<button th:value="${iterationStatus.index}" onclick="process(this)">Bid</button>-->
                                    <script th:inline="javascript">

                                    function process(elem) {
                                    var count = [[${iterationStatus.count}]];
                                    alert(count);
                                        var username = [[${auction.name}]];
                                        var cantity = [[${auction.cantity}]];

                                        if (elem.value!="") {
                                            document.getElementById('data').value = username;
                                            document.getElementById('cant').value = cantity;
                                        }
                                        else {
                                            document.getElementById('data').value = username;
                                            document.getElementById('cant').value = cantity;
                                        }
                                    }
                                    </script>
                                <!--</div>-->
                            <!--</div>-->
                        <!--</td>-->
                        <!--<input id="data" name="data" th:field="*{name}" type="hidden"/>-->
                        <!--<input id="cant" name="cant" th:field="*{cantity}" type="hidden"/>-->
                        <!--</form>-->
                    </tr>
                </table>
            </div>
        </div>
    <!--</form>-->
</div>
</body>
</html>